h1.titulo{
    font-size: 1.5vh;
    margin: 10px;
    
   
}

.conteudo{
    font-size: 1.5vh;
    margin: 10px;
    text-align: justify;
    background-color: rgb(106, 180, 209);
}

.table{
    font-size: 1.5vh;
    padding: 10px;
    text-align: justify;
    background-color: rgb(106, 180, 209);
}